[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
alembic = "*"
psycopg2-binary = "*"
pytest = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
requests = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.10"

[scripts]
makemigrations = "bash -c 'docker-compose up -d pg && cd src && alembic upgrade head && alembic revision --autogenerate && cd .. && docker-compose down'"
down = "bash -c 'docker-compose down && docker-compose -f docker-compose.stage.yml down'"
test = "bash -c 'docker-compose -f docker-compose.test.yml up -d pg && docker-compose -f docker-compose.test.yml up --build && docker-compose -f docker-compose.test.yml down'"
local = "docker-compose"
local-dev-server = "bash -c 'docker-compose up -d pg && cd src && pipenv run uvicorn main:app --host 0.0.0.0 --port 8000 --reload'"
stage = "docker-compose -f docker-compose.stage.yml"
