[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
alembic = "*"
psycopg2-binary = "*"
pytest = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
requests = "*"
hashids = "*"
loguru = "*"
sentry-sdk = "*"
asgi-idempotency-header = "*"
aioredis = "*"
fastapi-sso = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
mypy = "*"
types-requests = "*"
sqlalchemy = {extras = ["mypy"], version = "*"}

[requires]
python_version = "3.10"

[scripts]
makemigrations = "bash -c 'docker-compose up -d pg && cd src && alembic upgrade head && alembic revision --autogenerate && cd .. && docker-compose down'"
down = "bash -c 'docker-compose down && docker-compose -f docker-compose.stage.yml down'"
lint = "bash -c 'pipenv run mypy src && pipenv run flake8 src --statistics'"
test = "bash -c 'docker-compose down && docker-compose -f docker-compose.test.yml up -d pg && cd src/ && pipenv run alembic upgrade head && export API_LOG_LEVEL=TRACE && pipenv run pytest -- && unset API_LOG_LEVEL && docker-compose down'"
local = "docker-compose"
local-dev-server = "bash -c 'docker-compose up -d pg && cd src && pipenv run python main.py'"
stage = "docker-compose -f docker-compose.stage.yml"
